span a {
	background: transparent;
	font-size: 11px;
        color: white;
	font-style: normal;
	text-transform: none;
	padding: 0px 3px;
	text-decoration: none;
}

span a:hover {
	background: steelblue;
}

.form_style {
    border: solid  #8dbdd8 1px;
    padding: 5px 15px 5px 15px ;
    font-size: 12px;
    width: 500px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.notify {
    color: red;
    font-size: small;
}
