span a {
	background: transparent;
	font-size: 11px;
        color: white;
	font-style: normal;
	text-transform: none;
	padding: 0px 3px;
	text-decoration: none;
}

span a:hover {
	background: steelblue;
}

