<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<span style="font-size: large; color: darkcyan">
  Welcome to TimeCard System !
</span>
<br/>
<span style="font-size: small; color: red">
  Base on Ruby on Rails framework
</span>
