<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="form_style" style="width: 400px">
  <form method="post" action="/home/login">
    <input type="hidden"  value="<%= form_authenticity_token %>"  name="authenticity_token"/>
    <table width="100%">
      <tr>
        <td colspan="2"><h2>Login Form</h2></td>
      </tr>
      <tr>
        <td colspan="2"><span class="notify"><%= @message %></span></td>
      </tr>
      <tr>
        <td>User name: </td>
        <td><input id="username" type="text" name="user[username]" /></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input id="password" type="password" name="user[password]" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Login"/></td>
      </tr>
    </table>
  </form>
</div>

